<form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email </label>
    <input
      class="form-control"
      id="email"
      type="email"
      formControlName="email"
    />
  </div>

  <div class="form-group">
    <label for="password">Password </label>
    <input
      class="form-control"
      id="password"
      type="password"
      formControlName="password"
    />
  </div>

  <div class="form-group">
    <label for="reenterPassword">Re-enter password </label>
    <input
      class="form-control"
      id="reenterPassword"
      type="password"
      formControlName="reenterPassword"
    />
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!createAccountForm.valid"
  >
    Create account
  </button>
</form>

<!-- For debugging purposes -->
<!-- <pre>
  {{ createAccountForm.value | json }}
</pre>
<pre>
  {{ createAccountForm.status }}
</pre> -->
