<app-header></app-header>

<div class="form-container">
  <form [formGroup]="signInForm" (ngSubmit)="handleSubmitSignInForm()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
    </div>

    <div class="mb-3 btn-container">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  </form>
</div>

<!-- For development purposes -->
<h3>signInForm values</h3>
<pre>{{ this.signInForm.value | json }}</pre>
<!--  -->
